.supContainer {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/public//images//wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.supports {
  width: 350px;
  margin-top: 30px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  color: #333;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #f5f5f5; /* A subtle and pleasing background color */
}

.supports:hover {
  box-shadow: 0 0 10px 4px rgba(202, 218, 250);
  transform: scale(1.05);
}

.sImg {
  width: 100%;
  max-height: 60%;
  object-fit: contain;
}

.supports .name,
.supports .price {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.3s, font-size 0.3s;
  text-align: center;
}
