@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat+Alternates:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--bg);
  transition: all 3ms ease;
  color: var(--black);
  scroll-behavior: smooth;
}
